Repository fivetime/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-linter, openstack-helm-bandit, openstack-helm-mariadb-operator-2024-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy, openstack-helm-ceph-migrate

Path conditions:
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$
  openstack-helm-mariadb-operator-2024-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*

为 `create-dual-certs.sh` 脚本添加 CA 私钥密码支持并优化证书处理逻辑
  octavia/scripts/create-dual-certs.sh
Due: openstack-helm-linter

优化 `create-dual-certs.sh` 脚本逻辑并提升清晰度
  octavia/scripts/create-dual-certs.sh
Due: openstack-helm-linter

为 Octavia 添加证书挂载支持
  overrides/octavia/2025.1-ubuntu_noble.yaml
Due: openstack-helm-linter

新增 Octavia 证书自动导入工具
  octavia/scripts/import-dual-certs.md
Due: openstack-helm-linter

新增 Octavia 单证书及双证书生成和导入工具
  octavia/scripts/create-single-certs.sh
  octavia/scripts/import-dual-certs.sh
  octavia/scripts/openssl.cnf
Due: openstack-helm-linter

重构 `create-dual-certs.sh` 脚本
  octavia/scripts/create-dual-certs.sh
Due: openstack-helm-linter

优化 `_health-manager-vos-init.sh.tpl` 中的代码格式
  octavia/templates/bin/_health-manager-vos-init.sh.tpl
Due: openstack-helm-linter

移除 `values.yaml` 中无用的 tolerations 配置
  octavia/values.yaml
Due: openstack-helm-linter

新增默认禁用的 `tolerations` 配置
  octavia/values.yaml
Due: openstack-helm-linter

注释掉健康管理使用 iptables 设置防火墙规则的逻辑
  octavia/templates/bin/_octavia-health-manager-nic-init.sh.tpl
Due: openstack-helm-linter

增强 Octavia 健康管理配置逻辑
  octavia/templates/bin/_octavia-health-manager-get-port.sh.tpl
  octavia/templates/bin/_octavia-health-manager.sh.tpl
  octavia/templates/daemonset-health-manager.yaml
  octavia/templates/deployment-api.yaml
  octavia/values.yaml
  overrides/octavia/2025.1-ubuntu_noble.yaml
Due: openstack-helm-linter

移除 Docker Socket 检查逻辑及相关配置
  kuryr-libnetwork/NOTES.txt
  kuryr-libnetwork/README.md
  kuryr-libnetwork/templates/bin/_docker-check.sh.tpl
  kuryr-libnetwork/templates/bin/_kuryr-libnetwork.sh.tpl
  kuryr-libnetwork/templates/configmap-bin.yaml
  kuryr-libnetwork/templates/daemonset.yaml
  kuryr-libnetwork/values.yaml
  zun/values.yaml
Due: openstack-helm-linter

优化 OpenvSwitch 和 OVN 的启动与配置逻辑
  openvswitch/templates/bin/_openvswitch-db-server.sh.tpl
  ovn/templates/bin/_ovn-controller-init.sh.tpl
Due: openstack-helm-linter, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy

为 OVN 配置新增 `labels` 节点选择逻辑
  overrides/ovn/2025.1-ubuntu_noble.yaml
Due: openstack-helm-linter

在 compute_ironic 的模板中优化 tolerations 配置逻辑
  nova/templates/statefulset-compute-ironic.yaml
Due: openstack-helm-linter

新增 OVN BGP Agent 部署相关模板和配置
  overrides/ovn-bgp-agent/distributed.yaml
  overrides/ovn-bgp-agent/evpn.yaml
  overrides/ovn-bgp-agent/example.yaml
  overrides/ovn-bgp-agent/fixed-peer.yaml
  ovn-bgp-agent/Chart.yaml
  ovn-bgp-agent/NOTES.txt
  ovn-bgp-agent/README.md
  ovn-bgp-agent/STRUCTURE.md
  ovn-bgp-agent/templates/bin/_frr-config-gen.sh.tpl
  ovn-bgp-agent/templates/bin/_frr-init.sh.tpl
  ovn-bgp-agent/templates/bin/_image-repo-sync.sh.tpl
  ovn-bgp-agent/templates/bin/_ovn-bgp-agent.sh.tpl
  ovn-bgp-agent/templates/configmap-bin.yaml
  ovn-bgp-agent/templates/configmap-etc.yaml
  ovn-bgp-agent/templates/daemonset-ovn-bgp-agent.yaml
  ovn-bgp-agent/templates/job-image-repo-sync.yaml
  ovn-bgp-agent/templates/poddisruptionbudget.yaml
  ovn-bgp-agent/templates/serviceaccount.yaml
  ovn-bgp-agent/values.yaml
Due: openstack-helm-linter

新增 Leaf ASN 映射支持及 BGP 配置增强
  ovn-bgp-agent/README.md
  ovn-bgp-agent/STRUCTURE.md
  ovn-bgp-agent/templates/bin/_frr-init.sh.tpl
  ovn-bgp-agent/templates/configmap-asn.yaml
  ovn-bgp-agent/templates/daemonset-ovn-bgp-agent.yaml
  ovn-bgp-agent/values.yaml
Due: openstack-helm-linter

修复 OpenvSwitch 启动脚本中套接字文件权限配置问题
  openvswitch/templates/bin/_openvswitch-vswitchd.sh.tpl
Due: openstack-helm-linter, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy

移除 `_openvswitch-vswitchd.sh.tpl` 中多余的 `chgrp` 命令
  openvswitch/templates/bin/_openvswitch-vswitchd.sh.tpl
Due: openstack-helm-linter, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy

增强 OVN BGP Agent 脚本及模板配置逻辑
  ovn-bgp-agent/NOTES.txt
  ovn-bgp-agent/README.md
  ovn-bgp-agent/STRUCTURE.md
  ovn-bgp-agent/templates/bin/_frr-init.sh.tpl
  ovn-bgp-agent/templates/bin/_ovn-bgp-agent.sh.tpl
  ovn-bgp-agent/templates/configmap-etc.yaml
  ovn-bgp-agent/templates/daemonset-ovn-bgp-agent.yaml
  ovn-bgp-agent/values.yaml
Due: openstack-helm-linter

新增 OVN BGP Agent 关键模板及配置
  ovn-bgp-agent/templates/networkpolicy.yaml
  ovn-bgp-agent/templates/priorityclass.yaml
  ovn-bgp-agent/templates/service-metrics.yaml
Due: openstack-helm-linter

增强 OVN BGP Agent 配置及 BGP 对等逻辑：
  ovn-bgp-agent/NOTES.txt
  ovn-bgp-agent/templates/bin/_frr-config-gen.sh.tpl
  ovn-bgp-agent/templates/bin/_frr-init.sh.tpl
  ovn-bgp-agent/templates/configmap-asn.yaml
  ovn-bgp-agent/values.yaml
Due: openstack-helm-linter

新增 IP 工具脚本及 OVN BGP Agent 配置增强逻辑
  ovn-bgp-agent/templates/bin/_frr-config-gen.sh.tpl
  ovn-bgp-agent/templates/bin/_frr-init.sh.tpl
  ovn-bgp-agent/templates/bin/_ip-utils.sh.tpl
  ovn-bgp-agent/templates/bin/_ovn-bgp-agent.sh.tpl
  ovn-bgp-agent/templates/configmap-asn.yaml
  ovn-bgp-agent/templates/configmap-bin.yaml
  ovn-bgp-agent/templates/configmap-etc.yaml
  ovn-bgp-agent/templates/daemonset-ovn-bgp-agent.yaml
  ovn-bgp-agent/values.yaml
Due: openstack-helm-linter

优化 OVN Controller 初始化脚本的网桥创建逻辑
  ovn/templates/bin/_ovn-controller-init.sh.tpl
Due: openstack-helm-linter

新增 OVN 模式支持并改进 OVN BGP Agent 脚本和模板逻辑：
  ovn-bgp-agent/templates/bin/_frr-config-gen.sh.tpl
  ovn-bgp-agent/templates/bin/_frr-init.sh.tpl
  ovn-bgp-agent/templates/bin/_ovn-bgp-agent.sh.tpl
  ovn-bgp-agent/templates/configmap-bin.yaml
  ovn-bgp-agent/templates/daemonset-ovn-bgp-agent.yaml
  ovn-bgp-agent/values.yaml
Due: openstack-helm-linter

新增 OVN 初始化脚本，支持本地 OVN 集群的组件启动与数据库管理
  ovn-bgp-agent/templates/bin/_init-local-ovn.sh.tpl
  ovn-bgp-agent/templates/bin/_ovn-controller.sh.tpl
  ovn-bgp-agent/templates/bin/_ovn-northd.sh.tpl
Due: openstack-helm-linter

新增对 BGPVPN 支持的数据库初始化逻辑
  neutron/templates/bin/_db-sync.sh.tpl
  neutron/values.yaml
Due: openstack-helm-linter

修改 OVN Metadata Agent DaemonSet 模板的节点选择逻辑
  neutron/templates/daemonset-ovn-metadata-agent.yaml
Due: openstack-helm-linter

更新 Neutron 覆盖文件中的节点选择键值
  overrides/neutron/2025.1-ubuntu_noble.yaml
Due: openstack-helm-linter

为 Job 模板添加 Tolerations 支持
  ceph-adapter-rook/templates/job-namespace-client-ceph-config.yaml
  ceph-adapter-rook/templates/job-namespace-client-key.yaml
  ceph-adapter-rook/values.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate

调整 Horizon 配置并优化 OVN BGP Agent 模板逻辑
  kolla-overrides/horizon.yaml
  ovn-bgp-agent/templates/bin/_frr-init.sh.tpl
  ovn-bgp-agent/templates/configmap-etc.yaml
  ovn-bgp-agent/values.yaml
Due: openstack-helm-linter

调整 Horizon 配置文件结构
  kolla-overrides/horizon.yaml
Due: openstack-helm-linter

新增 Rook-Ceph 的 Helm Chart 支持，提供多运行模式示例及配置管理脚本
  ceph-adapter/.helmignore
  ceph-adapter/Chart.yaml
  ceph-adapter/README.md
  ceph-adapter/examples/consumer-mode.yaml
  ceph-adapter/examples/external-mode.yaml
  ceph-adapter/examples/provider-mode.yaml
  ceph-adapter/templates/bin/_config-manager.sh.tpl
  ceph-adapter/templates/bin/_key-manager.sh.tpl
  ceph-adapter/templates/configmap-bin.yaml
  ceph-adapter/templates/job-namespace-client-ceph-config.yaml
  ceph-adapter/templates/job-namespace-client-key.yaml
  ceph-adapter/values.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate

重构并优化 ceph-adapter Helm Chart 模板及运行模式逻辑
  ceph-adapter/Chart.yaml
  ceph-adapter/README.md
  ceph-adapter/examples/consumer-mode.yaml
  ceph-adapter/examples/external-mode.yaml
  ceph-adapter/examples/provider-mode.yaml
  ceph-adapter/templates/bin/_config-manager.sh.tpl
  ceph-adapter/templates/bin/_key-manager.sh.tpl
  ceph-adapter/templates/job-namespace-client-ceph-config.yaml
  ceph-adapter/templates/job-namespace-client-key.yaml
  ceph-adapter/values.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate

更新 Ceph Adapter Chart 元数据与关键词
  ceph-adapter/Chart.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate

修正 namespace-client RBAC 配置中的变量命名格式
  ceph-adapter/templates/job-namespace-client-ceph-config.yaml
  ceph-adapter/templates/job-namespace-client-key.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate
