Repository fivetime/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-linter, openstack-helm-bandit, openstack-helm-mariadb-operator-2024-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy, openstack-helm-ceph-migrate

openstack-helm-linter:
  run: playbooks/lint.yaml
  nodeset: openstack-helm-1node-ubuntu_jammy
  required-projects:
  - openstack/openstack-helm
  pre-run:
  - playbooks/inject-keys.yaml

openstack-helm-bandit:
  roles:
  - zuul: openstack/openstack-helm
  - zuul: zuul/zuul-jobs
  required-projects:
  - openstack/openstack-helm
  pre-run: playbooks/prepare-hosts.yaml
  post-run: playbooks/collect-logs.yaml
  run: playbooks/osh-bandit.yaml
  vars:
    helm_version: v3.6.3
    bandit_version: 1.7.1

openstack-helm-mariadb-operator-2024-1-ubuntu_jammy:
  parent: openstack-helm-deploy
  nodeset: openstack-helm-3nodes-ubuntu_jammy
  pre-run:
  - playbooks/prepare-hosts.yaml
  - playbooks/mount-volumes.yaml
  vars:
    osh_params:
      openstack_release: '2024.1'
      container_distro_name: ubuntu
      container_distro_version: jammy
  ...

openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy:
  parent: openstack-helm-compute-kit-2024-1-ubuntu_jammy
  vars:
    osh_params:
      feature_gates: ingress-service

openstack-helm-ceph-migrate:
  description: 'This job is for testing the migration procedure from
  
    a Ceph cluster managed by legacy OSH ceph* charts
  
    to a Ceph cluster managed by Rook-Ceph operator.
  
    '
  parent: openstack-helm-deploy
  nodeset: openstack-helm-5nodes-ubuntu_jammy
  timeout: 10800
  pre-run:
  ...

[glance] Decouple image-import staging PVC from storage backend
  glance/templates/deployment-api.yaml
  glance/templates/pvc-tmp.yaml
Due: openstack-helm-linter

Octavia: add optional driver agent sidecar to octavia-api
  octavia/templates/deployment-api.yaml
  octavia/values.yaml
Due: openstack-helm-linter

nova: add Incus compute daemonset
  nova/templates/bin/_health-probe.py.tpl
  nova/templates/daemonset-compute-incus.yaml
  nova/values.yaml
Due: openstack-helm-linter, openstack-helm-bandit

nova: set default Incus compute image
  nova/values.yaml
Due: openstack-helm-linter

nova: make Incus config readable
  nova/templates/daemonset-compute-incus.yaml
Due: openstack-helm-linter

nova: automate Incus storage and migration setup
  nova/templates/bin/_incus-storage-init.py.tpl
  nova/templates/configmap-bin.yaml
  nova/templates/daemonset-compute-incus.yaml
  nova/values.yaml
  values_overrides/nova/incus-ceph-multi-backend.yaml
  values_overrides/nova/incus-ceph.yaml
  values_overrides/nova/incus-dir.yaml
  values_overrides/nova/incus-lvm.yaml
  values_overrides/nova/incus-migration.yaml
  values_overrides/nova/incus-mixed-root-pools.yaml
  values_overrides/nova/incus-zfs.yaml
Due: openstack-helm-linter, openstack-helm-bandit

nova: map BFV pools by Cinder RBD namespace
  values_overrides/nova/incus-ceph-multi-backend.yaml
Due: openstack-helm-linter

nova: allow shared Ceph pools across standalone Incus nodes
  values_overrides/nova/incus-ceph-multi-backend.yaml
  values_overrides/nova/incus-ceph.yaml
  values_overrides/nova/incus-mixed-root-pools.yaml
Due: openstack-helm-linter

nova: render Incus root pool selector mappings
  nova/templates/daemonset-compute-incus.yaml
Due: openstack-helm-linter

neutron: run OVN metadata agent on Incus chassis
  values_overrides/neutron/incus-compute.yaml
Due: openstack-helm-linter

nova: mount Ceph credentials in Incus compute
  nova/templates/bin/_incus-storage-init.py.tpl
  nova/templates/daemonset-compute-incus.yaml
Due: openstack-helm-linter, openstack-helm-bandit

nova: enable safe Incus data-volume mounts
  nova/values.yaml
Due: openstack-helm-linter

nova: expose host block devices to Incus compute
  nova/templates/daemonset-compute-incus.yaml
  nova/values.yaml
Due: openstack-helm-linter

nova: propagate Incus state unmounts into compute pods
  nova/templates/daemonset-compute-incus.yaml
Due: openstack-helm-linter

Normalize line endings to LF and enforce via .gitattributes
  .gitattributes
  postgresql/templates/monitoring/prometheus/bin/_create-postgresql-exporter-user.sh.tpl
  tacker/templates/job-db-drop.yaml
Due: openstack-helm-linter

incus: add privileged daemonset runtime
  incus/.helmignore
  incus/Chart.yaml
  incus/README.md
  incus/templates/bin/_incus-ready.sh.tpl
  incus/templates/configmap-bin.yaml
  incus/templates/daemonset-incus.yaml
  incus/templates/extra-manifests.yaml
  incus/values.yaml
  nova/templates/bin/_incus-runtime-health.py.tpl
  nova/templates/bin/_incus-storage-init.py.tpl
  nova/templates/configmap-bin.yaml
  nova/templates/daemonset-compute-incus.yaml
  nova/values.yaml
  releasenotes/config.yaml
  releasenotes/notes/incus-privileged-daemonset-7d1224ef3bb64a1f.yaml
Due: openstack-helm-linter, openstack-helm-bandit

incus: align chart with OpenStack-Helm conventions
  incus/Chart.yaml
  incus/templates/bin/_incus-ready.sh.tpl
  incus/templates/configmap-bin.yaml
  incus/templates/daemonset-incus.yaml
  incus/templates/job-image-repo-sync.yaml
  incus/templates/secret-registry.yaml
  incus/templates/serviceaccount.yaml
  incus/values.yaml
Due: openstack-helm-linter

incus: keep runtime probes constant cost
  incus/README.md
  incus/templates/bin/_incus-ready.sh.tpl
  nova/templates/bin/_incus-runtime-health.py.tpl
  nova/templates/daemonset-compute-incus.yaml
Due: openstack-helm-linter, openstack-helm-bandit

incus: make migration listener daemon-owned
  incus/README.md
  incus/templates/bin/_incus-migration-listener.sh.tpl
  incus/templates/bin/_incus-ready.sh.tpl
  incus/templates/configmap-bin.yaml
  incus/templates/daemonset-incus.yaml
  incus/values.yaml
  nova/templates/bin/_incus-storage-init.py.tpl
  nova/templates/daemonset-compute-incus.yaml
  nova/values.yaml
  releasenotes/notes/incus-privileged-daemonset-7d1224ef3bb64a1f.yaml
  values_overrides/incus/migration.yaml
  values_overrides/nova/incus-migration.yaml
Due: openstack-helm-linter, openstack-helm-bandit

incus: keep daemonset selector stable
  incus/templates/daemonset-incus.yaml
Due: openstack-helm-linter

nova: manage Incus ID map allocation
  nova/templates/daemonset-compute-incus.yaml
  nova/values.yaml
  values_overrides/nova/incus-idmap-etcd.yaml
Due: openstack-helm-linter

incus: Pin AppArmor runtime label fix
  incus/values.yaml
Due: openstack-helm-linter

incus: qualify shared migration runtime
  incus/values.yaml
  nova/templates/bin/_incus-storage-init.py.tpl
  values_overrides/nova/incus-idmap-etcd.yaml
  values_overrides/nova/incus-runtime-images.yaml
Due: openstack-helm-linter, openstack-helm-bandit

incus: pin upstream-synchronized runtime
  incus/values.yaml
Due: openstack-helm-linter

octavia: fix driver-agent sidecar after script inlining
  octavia/templates/deployment-api.yaml
Due: openstack-helm-linter

Align fork charts with upstream: remove Ingress templates, add extraObjects
  ceph-adapter/templates/extra-manifests.yaml
  ceph-adapter/values.yaml
  kuryr-libnetwork/templates/extra-manifests.yaml
  kuryr-libnetwork/values.yaml
  loadbalancer/templates/extra-manifests.yaml
  loadbalancer/templates/ingress-api.yaml
  loadbalancer/templates/secret-ingress-tls.yaml
  loadbalancer/templates/service-ingress-api.yaml
  loadbalancer/values.yaml
  monasca/templates/extra-manifests.yaml
  monasca/templates/ingress-api.yaml
  monasca/templates/secret-ingress-tls.yaml
  monasca/templates/service-ingress.yaml
  monasca/values.yaml
  nexus/templates/extra-manifests.yaml
  nexus/values.yaml
  ovn-bgp-agent/templates/extra-manifests.yaml
  ovn-bgp-agent/values.yaml
  ovn-ic-central/values.yaml
  ovn-ic/values.yaml
  shaker/values.yaml
  zun/templates/extra-manifests.yaml
  zun/templates/ingress-api.yaml
  zun/templates/ingress-wsproxy.yaml
  zun/values.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate

incus: pin AppArmor lint-fixed runtime
  incus/values.yaml
Due: openstack-helm-linter

incus: Mount Nova instance artifacts
  incus/templates/daemonset-incus.yaml
  incus/values.yaml
Due: openstack-helm-linter

glance: Add S3 and RBD BFV override
  values_overrides/glance/s3-rbd-bfv.yaml
Due: openstack-helm-linter

tacker: support user-defined mounts on server and conductor
  tacker/templates/deployment-conductor.yaml
  tacker/templates/deployment-server.yaml
  tacker/values.yaml
Due: openstack-helm-linter

nova: Configure Manila SDK authentication
  helm-toolkit/templates/manifests/_secret-ks-etc.yaml.tpl
  nova/templates/configmap-etc.yaml
  nova/templates/secret-ks-etc.yaml
  nova/values.yaml
Due: openstack-helm-linter, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy, openstack-helm-ceph-migrate

nova: mount host modules in Incus compute
  nova/templates/daemonset-compute-incus.yaml
Due: openstack-helm-linter

nova: expose Incus CephFS identity settings
  nova/values.yaml
Due: openstack-helm-linter

nova: align Incus compute FQDN identity
  nova/templates/daemonset-compute-incus.yaml
Due: openstack-helm-linter

nova: pin Manila detach fix image
  values_overrides/nova/incus-runtime-images.yaml
Due: openstack-helm-linter

nova: pin verified Incus driver images
  values_overrides/nova/incus-runtime-images.yaml
Due: openstack-helm-linter

incus: pin stale Unix device cleanup image
  incus/values.yaml
Due: openstack-helm-linter

nova: pin live source release recovery images
  values_overrides/nova/incus-runtime-images.yaml
Due: openstack-helm-linter

nova: correct canonical Incus image digests
  values_overrides/nova/incus-runtime-images.yaml
Due: openstack-helm-linter

nova: pin disconnected source profile cleanup images
  values_overrides/nova/incus-runtime-images.yaml
Due: openstack-helm-linter

Path conditions:
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$
  openstack-helm-mariadb-operator-2024-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*
