Repository fivetime/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-linter, openstack-helm-bandit, openstack-helm-mariadb-operator-2024-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy, openstack-helm-ceph-migrate

openstack-helm-linter:
  run: playbooks/lint.yaml
  nodeset: openstack-helm-1node-ubuntu_jammy
  required-projects:
  - openstack/openstack-helm
  pre-run:
  - playbooks/inject-keys.yaml

openstack-helm-bandit:
  roles:
  - zuul: openstack/openstack-helm
  - zuul: zuul/zuul-jobs
  required-projects:
  - openstack/openstack-helm
  pre-run: playbooks/prepare-hosts.yaml
  post-run: playbooks/collect-logs.yaml
  run: playbooks/osh-bandit.yaml
  vars:
    helm_version: v3.6.3
    bandit_version: 1.7.1

openstack-helm-mariadb-operator-2024-1-ubuntu_jammy:
  parent: openstack-helm-deploy
  nodeset: openstack-helm-3nodes-ubuntu_jammy
  pre-run:
  - playbooks/prepare-hosts.yaml
  - playbooks/mount-volumes.yaml
  vars:
    osh_params:
      openstack_release: '2024.1'
      container_distro_name: ubuntu
      container_distro_version: jammy
  ...

openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy:
  parent: openstack-helm-compute-kit-2024-1-ubuntu_jammy
  vars:
    osh_params:
      feature_gates: ingress-service

openstack-helm-ceph-migrate:
  description: 'This job is for testing the migration procedure from
  
    a Ceph cluster managed by legacy OSH ceph* charts
  
    to a Ceph cluster managed by Rook-Ceph operator.
  
    '
  parent: openstack-helm-deploy
  nodeset: openstack-helm-5nodes-ubuntu_jammy
  timeout: 10800
  pre-run:
  ...

移除外部模式相关注释以简化模板逻辑
  ceph-adapter/templates/job-namespace-client-ceph-config.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate

更新 Ceph Adapter 镜像版本
  ceph-adapter/values.yaml
Due: openstack-helm-linter, openstack-helm-ceph-migrate

新增 Neutron 组件节点选择配置
  kolla-overrides/neutron.yaml
Due: openstack-helm-linter

添加 Ceph Pool 管理逻辑并优化模板配置
  cinder/templates/bin/_storage-init.sh.tpl
  cinder/templates/job-storage-init.yaml
Due: openstack-helm-linter

新增 OVN 组件节点选择配置
  kolla-overrides/ovn.yaml
Due: openstack-helm-linter

修正 OVN 配置文件格式，确保文件末尾换行符一致
  kolla-overrides/ovn.yaml
Due: openstack-helm-linter

重构 OVN 逻辑为模板库并新增 EVPN 配置支持
  ovn/templates/bin/_ovn-controller-init.sh.tpl
  ovn/templates/bin/_ovn-lib.sh.tpl
  ovn/templates/configmap-bin.yaml
  ovn/templates/daemonset-controller.yaml
  ovn/values.yaml
Due: openstack-helm-linter

新增 Gnocchi 组件配置支持并更新相关镜像版本
  kolla-overrides/gnocchi.yaml
Due: openstack-helm-linter

补充 Gnocchi API 配置并更新服务依赖
  kolla-overrides/gnocchi.yaml
Due: openstack-helm-linter

为 Gnocchi Helm Chart 添加 PVC 存储配置支持
  gnocchi/templates/bin/_storage-init.sh.tpl
  gnocchi/templates/configmap-etc.yaml
  gnocchi/templates/daemonset-metricd.yaml
  gnocchi/templates/daemonset-statsd.yaml
  gnocchi/templates/deployment-api.yaml
  gnocchi/templates/job-clean.yaml
  gnocchi/templates/job-db-sync.yaml
  gnocchi/templates/job-storage-init.yaml
  gnocchi/templates/pvc.yaml
  gnocchi/templates/secret-db.yaml
  gnocchi/values.yaml
Due: openstack-helm-linter

更新 Gnocchi 组件镜像版本并优化服务依赖配置
  kolla-overrides/gnocchi.yaml
Due: openstack-helm-linter

优化 Gnocchi 镜像与服务依赖配置
  kolla-overrides/gnocchi.yaml
Due: openstack-helm-linter

移除 PVC 存储支持并优化 Gnocchi 存储和 Ceph Pool 配置
  gnocchi/templates/bin/_storage-init.sh.tpl
  gnocchi/templates/configmap-etc.yaml
  gnocchi/templates/daemonset-metricd.yaml
  gnocchi/templates/daemonset-statsd.yaml
  gnocchi/templates/deployment-api.yaml
  gnocchi/templates/job-clean.yaml
  gnocchi/templates/job-db-sync.yaml
  gnocchi/templates/job-storage-init.yaml
  gnocchi/templates/pvc.yaml
  gnocchi/templates/secret-db.yaml
  gnocchi/values.yaml
Due: openstack-helm-linter

禁用 Gnocchi 部分依赖并优化 db_sync 配置
  kolla-overrides/gnocchi.yaml
Due: openstack-helm-linter

为 libvirt 添加 /dev/kvm 权限配置支持，解决容器化部署权限不匹配问题
  libvirt/templates/bin/_libvirt.sh.tpl
  libvirt/values.yaml
Due: openstack-helm-linter

改用 Deployment 替代 DaemonSet 部署 Octavia Worker，优化部署灵活性并支持负载扩展
  octavia/NOTES.md
  octavia/templates/deployment-worker.yaml
  octavia/values.yaml
Due: openstack-helm-linter

为 Octavia Worker 设置默认副本数并新增问题记录文件
  octavia/ISSUES.md
  octavia/values.yaml
Due: openstack-helm-linter

Prevent deletion of externally managed Cinder secrets
  cinder/templates/bin/_clean-secrets.sh.tpl
  cinder/templates/bin/_storage-init.sh.tpl
Due: openstack-helm-linter

Add `tools/zap-disks.sh` script for Rook-Ceph disk preparation
  tools/zap-disks.sh
Due: openstack-helm-linter, openstack-helm-mariadb-operator-2024-1-ubuntu_jammy

Here is a suggested commit message for the provided diff:
  tools/reset-k8s-node.sh
Due: openstack-helm-linter, openstack-helm-mariadb-operator-2024-1-ubuntu_jammy

Here is a suggested commit message for the provided diff:
  tools/zap-disks.sh
Due: openstack-helm-linter, openstack-helm-mariadb-operator-2024-1-ubuntu_jammy

Add initial Helm chart for Shaker
  shaker/Chart.yaml
  shaker/templates/bin/_run-tests.sh.tpl
  shaker/templates/configmap-bin.yaml
  shaker/templates/configmap-etc.yaml
  shaker/templates/extra-manifests.yaml
  shaker/templates/job-image-repo-sync.yaml
  shaker/templates/job-ks-user.yaml
  shaker/templates/pod-shaker-test.yaml
  shaker/templates/pvc-shaker.yaml
  shaker/templates/secret-keystone.yaml
  shaker/templates/secret-registry.yaml
  shaker/templates/service-shaker.yaml
  shaker/values.yaml
Due: openstack-helm-linter

feat(cinder): add PVC support for conversion directory
  cinder/templates/deployment-volume.yaml
  cinder/templates/pvc-conversion.yaml
  cinder/values.yaml
  releasenotes/notes/cinder-4b18043f1e4d8243.yaml
Due: openstack-helm-linter

Disable ldap deployment for infra jobs
  zuul.d/infra_jobs.yaml
Due: openstack-helm-linter

Add support for neutron-ovn-agent
  neutron/templates/bin/_neutron-ovn-agent.sh.tpl
  neutron/templates/configmap-bin.yaml
  neutron/templates/configmap-etc.yaml
  neutron/templates/daemonset-ovn-agent.yaml
  neutron/values.yaml
  releasenotes/notes/neutron-169b506452283357.yaml
Due: openstack-helm-linter

helm-toolkit: Support existing registry secrets without creating new ones
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_serviceaccount.tpl
  releasenotes/notes/helm-toolkit-existing-registry-secret-a1b2c3d4e5f6g7h8.yaml
Due: openstack-helm-linter, openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy, openstack-helm-ceph-migrate

Run placement-api pod with non-privileged user
  placement/values.yaml
  releasenotes/notes/placement-8712c900fb6866aa.yaml
Due: openstack-helm-linter

修改了daemonset-ovn-agent.yaml的标签选择器。
  neutron/templates/daemonset-ovn-agent.yaml
Due: openstack-helm-linter

增加tacker的亲和性支持。
  tacker/templates/deployment-conductor.yaml
  tacker/templates/deployment-server.yaml
  tacker/values.yaml
Due: openstack-helm-linter

增加horizon的uWSGI支持。
  horizon/templates/bin/_horizon.sh.tpl
  horizon/templates/configmap-etc.yaml
  horizon/templates/deployment.yaml
  horizon/values.yaml
Due: openstack-helm-linter

[glance] Support shared PVC for image import staging
  glance/templates/deployment-api.yaml
  glance/templates/pvc-staging.yaml
  glance/values.yaml
  releasenotes/notes/glance-0e627034d51e123b.yaml
Due: openstack-helm-linter

[tools/reset-k8s-node] Preserve upstream cni-plugins under /opt/cni/bin
  tools/reset-k8s-node.sh
Due: openstack-helm-linter, openstack-helm-mariadb-operator-2024-1-ubuntu_jammy

neutron/ovn/ovn-ic/neutron-ovnic: leader-following OVN RAFT connections
  neutron-ovnic/.helmignore
  neutron-ovnic/Chart.yaml
  neutron-ovnic/README.md
  neutron-ovnic/templates/bin/_neutron-ovnic-agent.sh.tpl
  neutron-ovnic/templates/configmap-bin.yaml
  neutron-ovnic/templates/configmap-etc.yaml
  neutron-ovnic/templates/deployment-agent.yaml
  neutron-ovnic/templates/extra-manifests.yaml
  neutron-ovnic/templates/pvc-agent.yaml
  neutron-ovnic/templates/secret-registry.yaml
  neutron-ovnic/values.yaml
  neutron/templates/bin/_neutron-ovn-init.sh.tpl
  neutron/templates/configmap-etc.yaml
  neutron/values.yaml
  ovn-ic/.helmignore
  ovn-ic/Chart.yaml
  ovn-ic/README.md
  ovn-ic/templates/bin/_ovn-ic.sh.tpl
  ovn-ic/templates/bin/_start-ic-ovsdb.sh.tpl
  ovn-ic/templates/configmap-bin.yaml
  ovn-ic/templates/deployment-ovn-ic.yaml
  ovn-ic/templates/extra-manifests.yaml
  ovn-ic/templates/rbac-ic.yaml
  ovn-ic/templates/secret-registry.yaml
  ovn-ic/templates/service-ovsdb-ic-nb.yaml
  ovn-ic/templates/service-ovsdb-ic-sb.yaml
  ovn-ic/templates/statefulset-ovsdb-ic-nb.yaml
  ovn-ic/templates/statefulset-ovsdb-ic-sb.yaml
  ovn-ic/values.yaml
  ovn/templates/statefulset-ovsdb-nb.yaml
  ovn/templates/statefulset-ovsdb-sb.yaml
  ovn/values.yaml
Due: openstack-helm-linter

[ovn-ic-central] Rename neutron-ovnic chart; 2-replica HA + metrics
  neutron-ovnic/templates/deployment-agent.yaml
  ovn-ic-central/.helmignore
  ovn-ic-central/Chart.yaml
  ovn-ic-central/README.md
  ovn-ic-central/templates/bin/_ovn-ic-central.sh.tpl
  ovn-ic-central/templates/configmap-bin.yaml
  ovn-ic-central/templates/configmap-etc.yaml
  ovn-ic-central/templates/deployment-agent.yaml
  ovn-ic-central/templates/extra-manifests.yaml
  ovn-ic-central/templates/pvc-agent.yaml
  ovn-ic-central/templates/secret-registry.yaml
  ovn-ic-central/templates/service-metrics.yaml
  ovn-ic-central/values.yaml
  ovn-ic/README.md
Due: openstack-helm-linter

[cinder] Pin scheduler/backup host to avoid stale service ghosts
  cinder/templates/bin/_cinder-backup.sh.tpl
  cinder/templates/bin/_cinder-scheduler.sh.tpl
Due: openstack-helm-linter

Path conditions:
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$
  openstack-helm-mariadb-operator-2024-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*
